// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #0338d6;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$black: #000000;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
//$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;    

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// Hero padding
$hero-body-padding:	0rem 0rem;
$hero-body-padding-small: 0rem;
$hero-body-padding-medium: 0rem 0rem;
$hero-body-padding-large: 0rem 0rem;

// Menu Aside
$menu-label-color: $black;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: $blue;

// Import the rest of Bulma
@import "../node_modules/bulma";